.row {
    display: flex;
    justify-content: center;
}

main {
    min-height: calc(100vh - 245px)
}

section.cards .card {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.cards .card .card-title {
    margin-bottom: 30px;
    font-weight: bold;
}

section.cards .card .card-text {
    min-height: 50px;
}

.error {
    color: var(--bs-red);
}

#fallback {
    display: none;
}

header, footer {
    background: var(--bs-teal);
    color: #ffffff;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

h1, h2 {
    margin: 0;
}