<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOROKA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="text-center">
                <h1>Business card</h1>
                <p>KOROKA Solutions: Junior candidate test task</p>
            </div>
        </div>
    </header>

    <main>
        <section class="cards">
            <div class="container">
                <% if (error) { %>
                    <div class="text-center">
                        <p class="error">
                            <%= errorDescription || 'Unknown error' %> 😰
                        </p>
                    </div>
                <% } else { %>
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= customerData.firstName %>
                                        <%= customerData.secondName %>
                                    </h5>
                                    <p class="card-text">
                                        <%= customerData.email %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="text-center">
                <p>Powered by ExposedCat</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>